form{
  margin-top: 2rem;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

label{
  font-size: .8rem;
  font-weight: bold;
}

input{
  padding: .6rem;
  border-radius: 5px;
  border: 1px solid black;
}

button{
  width: 100%;
  padding: .6rem;
  border: none;
  border-radius: 5px;
  background-color: #2655FB;
  color:white;
}

p{
  text-align: right;
  font-size: .8rem;
  margin-top: 1rem;
  color: #4D4D4D
}